<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>springAnnotation</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <listener>
   		<listener-class>
   			org.springframework.web.context.ContextLoaderListener
   		</listener-class>	
   </listener>
   <context-param>
   		<param-name>contextConfigLocation</param-name>
   		<param-value>
   			/WEB-INF/config/action-mybatis.xml
   		</param-value>
   </context-param>
   <servlet>
  	<servlet-name>action</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<load-on-startup>1</load-on-startup> <!-- 1이상 적으면 톰켓서버를 실행 시 DispatcherServlet을 메모리에 로드해서 생성된다. -->
  										 <!-- 적지 않거나 음수를 적으면 요청을 할 때 로드해서 생성된다. -->
  </servlet>
  <servlet-mapping>
  	<servlet-name>action</servlet-name>
  	<url-pattern>*.do</url-pattern>	<!-- 브라우저에서 *.do로 요청시 DispatcherServlet이 요청을 받을 수 있게 맵핑을 설정 -->
  </servlet-mapping>
</web-app>